!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Online Chess
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A real-time multi-player chess app using node, express, and of course socket.io.")
    meta(name="author", content="garpozir@gmail.com")
    meta(name="google-signin-client_id", content="546648081025-oddl11qpepr11k03hj7qh8snscmtt77k.apps.googleusercontent.com")

    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/styles.css", rel="stylesheet")
  body
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    block content

